# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

.vscode/

project.inlang/*
!project.inlang/settings.json

# Generated protobuf files
src/lib/api/proto/*_pb.ts

# Generated WASM files
src/lib/wasm/pakop
pakop/target
pakop/debug

