html,
body {
  --at-apply: h-full;
}

body {
  --at-apply: bg-background-300 text-text transition-colors;
  font-family: var(--font-sans);
}

.dark body {
  --at-apply: bg-background-950 text-text-dark;
}
