@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  --at-apply: h-full;
}

body {
  --at-apply: bg-background-300 text-text transition-colors;
  font-family: var(--font-sans);
}

.dark body {
  --at-apply: bg-background-950 text-text-dark;
}
