html,
body {
  --at-apply: h-full;
}

body {
  --at-apply: font-sans bg-background-100 text-text transition-colors;
}

.dark body {
  --at-apply: bg-background-950 text-text-dark;
}

p,
small {
  --at-apply: text-700;
}

.dark p,
.dark small {
  --at-apply: text-300;
}
